@import "../breadcrumbs-section";
.how-works-page {
  .breadcrumbs {
    padding: 90px 0px 30px;
    text-align: center;

    &__list {
      margin-bottom: 0;
    }
    &__title {
      margin: 0;
      margin-bottom: 22px;
      color: #f3f3f8;
      line-height: 50px;
    }
    &__subtitle {
      margin: 0;
      margin-bottom: 75px;
      font-size: 30px;
      color: #bfcad7;
      font-weight: 300;
    }
  }
}
