html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
}

a {
  display: inline-block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

//   Logo
.logo {
  &__img {
    vertical-align: middle;
  }

  &-text {
    font-weight: 700;
    font-size: 30px;
    vertical-align: middle;

    .first__word {
      color: #000000;
    }
    .second__word {
      color: $prm-btn-color;
    }
  }
}

@mixin adaptive-img($size: cover) {
  background-size: $size;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin button($ver-padding, $hor-padding, $radius, $color, $bg-color, $border-color: transparent) {
  display: inline-block;
  background-color: $color;
  border: 1px solid $border-color;
  border-radius: $radius;
  text-decoration: none;
  color: $color;
  background-color: $bg-color;
  padding: $ver-padding $hor-padding;
  cursor: pointer;
}

@mixin button-active($color, $bg-color) {
  &:hover,
  &:active {
    color: $color;
    background-color: $bg-color;
  }
}

// Product card styles
.product__card {
  width: 361px;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;

  a {
    text-decoration: none;
  }

  // Product card header
  &-head {
    position: relative;

    &:hover {
      .card__info-btn,
      .card__demo-btn {
        opacity: 1;
      }
    }
  }

  &-img {
    height: 230px;
    @include adaptive-img;
  }

  &-buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translate(0, -50%);
  }

  .card__info-btn,
  .card__demo-btn {
    @include button(17px, 31px, 23px, #fff, transparent, #fff);
    @include button-active($prm-btn-color, #fff);
    margin: 0 5px;
    opacity: 0;
    transition: opacity 0.25s;
  }
  // End product card header

  // Product card body
  &-content {
    padding: 30px;
  }

  &-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    vertical-align: middle;
  }

  &-title {
    margin: 0 0 17px;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-them {
    margin-left: 7px;
    font-size: 15px;
    color: #000;
  }

  &-plugin {
    margin-left: 45px;
    color: #7347c1;
    font-size: 15px;
  }

  &-text {
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 32px;
    color: #555555;
    line-height: 30px;
  }
  // End product card body

  // Product card footer
  &-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid #ececec;
  }
  // End product card footer
}
// End product card styles

@mixin reset-link($color) {
  text-decoration: none;
  color: $color;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list($left-margin, $text-color) {
  @include reset-list;

  li {
    display: inline-block;
  }
  li + li {
    margin-left: $left-margin;
  }
  li a {
    text-decoration: none;
    color: $text-color;
  }
}

@mixin title-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
  padding: 43px 30px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Bread crumbs styles
.breadcrumbs {
  text-align: center;
  @include horizontal-list(25px, #fff);

  a {
    &:hover:not(.active) {
      text-decoration: underline;
    }
  }
  span.active,
  a.active {
    color: #bfcad7;
  }

  &__list {
    li {
      position: relative;

      & + li:before {
        position: absolute;
        content: "/";
        left: -18px;
        color: #fff;
      }
    }
  }
}

// Pagination styles
.pagination {
  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    margin-left: auto;
  }
  a {
    width: 50px;
    height: 38px;
    border-radius: 19px;
    background-color: #ffffff;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    text-decoration: none;
  }
  .pagination__arrow {
    font-family: "Linearicons";
    color: #fff;
    background-color: #7347c1;

    &-left::before {
      content: "\e879";
    }
    &-right::before {
      content: "\e87a";
    }
  }
  span.pagination__arrow_disabled,
  a.pagination__arrow_disabled {
    color: #000;
    background-color: #fff;
  }

  &__list {
    @include horizontal-list(5px, #747b86);

    span.active,
    a.active {
      color: #fff;
      background-color: $prm-btn-color;
    }
  }
}
// Form styles
.common__form {
  width: 555px;
  margin: 0 auto;
  padding: 60px 49px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);

  &-head {
    padding-bottom: 30px;
    border-bottom: 1px solid #e8ebf0;
  }

  &-tip {
    color: #555;
  }

  label {
    display: block;
    margin: 0;
    color: #000;
  }

  input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 17px 21px;
    margin-bottom: 32px;
    border: none;
    background-color: #f4f5f8;

    &::placeholder {
      color: #898f96;
    }
  }

  button {
    @include button(19px, 52px, 25px, #fff, $prm-btn-color);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  }
}
