.proposals {
  display: flex;

  &__sell,
  &__buy {
    width: 50%;
    margin-bottom: 49px;
    padding: 100px 0 120px;
    text-align: center;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }

  &__sell {
    background-color: #0674ec;
    background-image: url(../img/proposals/proposal-sell-bg.png);
  }
  &__buy {
    background-color: #7347c1;
    background-image: url(../img/proposals/proposal-sell-bg.png);
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 34px;
  }
  &__text {
    margin: 0 auto;
    max-width: 575px;
    line-height: 30px;
    margin-bottom: 49px;
  }

  &__btn {
    @include button(21px, 10px, 28px, $prm-btn-color, #fff);
    width: 190px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #0674ec;
    font-weight: 400;
  }
}
