.home-page {
  .protect {
    padding: 62px 0;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 296px;

      &-text {
        font-size: 24px;
        color: #000;
      }
      &-img {
        margin: 0 auto;
        @include adaptive-img;
        margin-bottom: 32px;
      }
    }

    &__money {
      margin-left: auto;
      padding-right: 130px;
      border-right: 1px solid #e8eaf3;
      &-img {
        width: 150px;
        height: 120px;
      }
      span {
        color: #0674ec;
      }
    }

    &__support {
      margin-right: auto;
      margin-left: 130px;

      &-img {
        width: 155px;
        height: 117px;
      }
      span {
        color: #7347c1;
      }
    }
  }
}
